name: CI/CD to Koyeb (Docker Hub)

on:
  push:
    branches: [main]

jobs:
  build_push_deploy:
    runs-on: ubuntu-latest

    env:
      IMAGE: docker.io/${{ secrets.DOCKERHUB_USERNAME }}/santaana-api:latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & Push image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ env.IMAGE }}
          platforms: linux/amd64
